<div class="sidebar">
    <ul>
        <li><a href="/KeyManager">KeyManager</a></li>
        <li><a href="/Publisher">Publisher</a></li>
        <li><a href="/Subscriptions">Subscriptions</a></li>
    </ul>
</div
@RenderBody()