@model Transmitter.Models.Key

<!DOCTYPE html>
<html>
<head>
    <title>Key manager</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Delete key</h1>

    <h2>Are you sure you want to delete key "@Model.Name"</h2>
    <form method="post">
        PublicKey: @Model.PublicKey
        <input type="hidden" name="publicKey" value="@Model.PublicKey" />
        <button type="submit">Delete</button>
    </form>
</body>
</html>